.side-bar
  .sub-title ゲーム一覧
  %ul.sub-content-menu
    %li.game-item
      .game-icon
        = image_tag asset_path("games/icons/grablu-icon.png"), class: "icon", id: "side-grablu"
      .game-title グランブルーファンタジー
    %li.game-item
      .game-icon
        = image_tag asset_path("games/icons/shadowverse-icon.png"), class: "icon", id: "side-shadowverse"
      .game-title シャドウバース
    %li.game-item
      .game-icon
        = image_tag asset_path("games/icons/priconne-icon.png"), class: "icon", id: "side-priconne"
      .game-title プリンセスコネクト! Re:Dive
    %li.game-item
      .game-icon
        = image_tag asset_path("games/icons/fankill-icon.png"), class: "icon", id: "side-fankill"
      .game-title ファントムオブキル
    %li.game-item
      .game-icon
        = image_tag asset_path("games/icons/fgo-icon.png"), class: "icon", id: "side-fgo"
      .game-title Fate/Grand Order
    %li.game-item
      .game-icon
        = image_tag asset_path("games/icons/pazdra-icon.png"), class: "icon", id: "side-pazdra"
      .game-title パズル＆ドラゴンズ
    %li.game-item
      .game-icon
        = image_tag asset_path("games/icons/monst-icon.png"), class: "icon", id: "side-monst"
      .game-title モンスターストライク
    %li.game-item
      .game-icon
        = image_tag asset_path("games/icons/dqwalk-icon.png"), class: "icon", id: "side-dqwalk"
      .game-title ドラクエウォーク
    %li.game-item
      .game-icon
        = image_tag asset_path("games/icons/yugioh-icon.png"), class: "icon", id: "side-yugioh"
      .game-title 遊戯王 デュエルリンクス
    %li.game-item
      .game-icon
        = image_tag asset_path("games/icons/feh-icon.png"), class: "icon", id: "side-feh"
      .game-title
        ファイアーエムブレム
        %br
        ヒーローズ
